<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Vue Hello</title>
</head>
<body>
    
    <div id="root">
        <input type="number" v-model="a">
        <input type="number" v-model="b">
        <button @click="area">Calcola</button>

    </div>


    <script src="js/script.js"></script>
</body>
</html>